{extend name="public:base" /}
{block name='body'}
<body>
<style>
	.Competence_add_style{
		width:1000px;
	}
	h2{
		margin-left:10px;
	}

	.red
	{
		color:red;
	}
</style>
<div class=" clearfix">
	<!--权限分配-->
	<div class="Assign_style">
		<h2>角色分配</h2>
		<div class="Select_Competence">
			{volist name="list" id="vo"}
			<dl class="permission-list">
				<dt><label class="middle"><input checked="checkbox" name="user-Character-0" value="{$vo.rid}" class="ace" type="checkbox" id="id-disable-check"><span class="lbl">{$vo.name}</span></label></dt>
			</dl>
			{/volist}
		</div>
	</div>
</div>
</body>
{/block}
</html>
{block name='other2'}
<script type="text/javascript">
	//初始化宽度、高度
	$(".left_Competence_add,.Competence_add_style").height($(window).height()).val();;
	$(".Assign_style").width($(window).width()-500).height($(window).height()).val();
	$(".Select_Competence").width($(window).width()-500).height($(window).height()-40).val();
	//当文档窗口发生改变时 触发
	$(window).resize(function(){

		$(".Assign_style").width($(window).width()-500).height($(window).height()).val();
		$(".Select_Competence").width($(window).width()-500).height($(window).height()-40).val();
		$(".left_Competence_add,.Competence_add_style").height($(window).height()).val();;
	});
	/*字数限制*/
	function checkLength(which) {
		var maxChars = 200; //
		if(which.value.length > maxChars){
			layer.open({
				icon:2,
				title:'提示框',
				content:'您出入的字数超多限制!',
			});
			// 超过限制的字数了就将 文本框中的内容按规定的字数 截取
			which.value = which.value.substring(0,maxChars);
			return false;
		}else{
			var curr = maxChars - which.value.length; //250 减去 当前输入的
			document.getElementById("sy").innerHTML = curr.toString();
			return true;
		}
	};
	/*按钮选择*/
	$(function(){
		$(".permission-list dt input:checkbox").click(function(){
			$(this).closest("dl").find("dd input:checkbox").prop("checked",$(this).prop("checked"));
		});
		$(".permission-list2 dd input:checkbox").click(function(){
			var l =$(this).parent().parent().find("input:checked").length;
			var l2=$(this).parents(".permission-list").find(".permission-list2 dd").find("input:checked").length;
			if($(this).prop("checked")){
				$(this).closest("dl").find("dt input:checkbox").prop("checked",true);
				$(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",true);
			}
			else{
				if(l==0){
					$(this).closest("dl").find("dt input:checkbox").prop("checked",false);
				}
				if(l2==0){
					$(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",false);
				}
			}

		});
	});

</script>
<script>
	$(function () {
//		$("input[type='checkbox']").eq(1).attr('checked',true); //设置索引为1的标签为选中
	})
</script>
{/block}

