<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>快递员登录</title>
    <link href="__STATIC__/index/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="__STATIC__/index/bootstrap/js/bootstrap.min.js"></script>
    <script src="__STATIC__/index/bootstrap/js/jquery1.12.4.min.js.js"></script>
    <!-- Bootstrap -->


    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="jumbotron">
    <center>
        <img src="https://gss0.baidu.com/8_BXsjip0QIZ8tyhnq/timg?wh_rate=0&wapiknow&quality=100&size=w250&sec=0&di=f16d4168eb346c605559db9cb34df83b&src=http%3A%2F%2Fe.hiphotos.baidu.com%2Fzhidao%2Fwh%253D800%252C450%2Fsign%3D191395a98dcb39dbc1956f5ee0262510%2Ff2deb48f8c5494ee34c8fe5a21f5e0fe98257e8f.jpg" alt="..." class="img-circle">
        <p> <small> 你好 <span style="color:red">张三</span></small></p>
    </center>
</div>
<div class="list-group">
    <a href="#" class="list-group-item">安全中心</a>
    <a href="/cindex/ordering" class="list-group-item">正在发货订单</a>
    <a href="#" class="list-group-item">已完成订单</a>
    <a href="#" class="list-group-item">未完成订单</a>
    <a href="#" class="list-group-item">店铺新生成订单</a>
</div>
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
</body>
</html>