/*重置*/
body,h1,h2,h3,h4,h5,dl,dd,dt,p,ul,li,ol{ margin:0; padding:0;}
input,select,form,textarea,button{ border:none; margin:0;outline:none; padding:0;}
h1,h2,h3,h4,h5{ font-weight:normal;}
img{ border:none;}
a{ text-decoration:none;}
*{ font: normal 0.22rem/100% Helvetica, Arial, sans-serif;}
li{ list-style-type:none;}
html{ width:100%;min-height: 100%; height: 100%;}
body.shouye{background: #282828;height: 100%;}
body{background-color: #fff;min-height: 100%; }

/**/
@media screen and (min-width: 320px) {html{font-size:50px;}}
@media screen and (min-width: 360px) {html{font-size:56.25px;}}
@media screen and (min-width: 375px) {html{font-size:58.59375px;}}
@media screen and (min-width: 400px) {html{font-size:62.5px;}}
@media screen and (min-width: 414px) {html{font-size:64.6875px;}}
@media screen and (min-width: 440px) {html{font-size:68.75px;}}
@media screen and (min-width: 480px) {html{font-size:75px;}}
@media screen and (min-width: 520px) {html{font-size:81.25px;}}
@media screen and (min-width: 560px) {html{font-size:87.5px;}}
@media screen and (min-width: 600px) {html{font-size:93.75px;}}
@media screen and (min-width: 640px) {html{font-size:100px;}}
@media screen and (min-width: 680px) {html{font-size:100px;}}
@media screen and (min-width: 720px) {html{font-size:100px;}}
@media screen and (min-width: 760px) {html{font-size:100px;}}
@media screen and (min-width: 800px) {html{font-size:100px;}}
@media screen and (min-width: 960px) {html{font-size:100px;}}

/*公共样式*/
.cs{border: solid 1px #ccc;}

.px22{font-size: .22rem;}
.px24{font-size: .24rem;}
.px26{font-size: .26rem;}

.color_h{color: #bdbdbd;}

 .da_xiao_xianz{
 	width:100%;
	max-width: 640px;
	margin:0 auto;
	background: #fff;
 }
/*头部开始了*/ 

.toub_beij{
	width: 100%;
	height: 0.88rem;
	background:#fff;
	top: 0;
 	z-index: 110; 
	
}
.toub_beij_shouye{
	max-width: 640px;

}

.zhongj_k{
	padding: 0.1rem;
	height: 0.68rem;
}

.logo_k{width: 26%;float: left;height: 0.68rem;}
.logo_k img{width: auto;height: 0.68rem;}
.shous_k{width: 60%;float: left; background: #f1f1f1;border-radius:0.08rem;margin: 0.1rem 0; padding:0 0.1rem;height: 0.48rem;line-height: 0.48rem; }
.shous_k span{display:inline-block;width: 0.3rem;height: 100%;background: url(../images/sos.png) center;background-repeat: no-repeat;background-size: 100%; float: left; margin-right: 5px;}
.shous_k input{background-color:inherit;font-size: 0.22rem; width: 85%;}
.dengl{width: 10%;float: right; position: relative;height: 0.68rem;}
.dengl .caid_img{width: 70%;float: right;height: 100%;
    margin-right: 0.1rem;}
.dengl .caid_img img{width: 100%;margin-top: 0.1rem;}
.zhu_daoh{
	position: absolute;
	top: 0.8rem;
	right: 0px;
	display: none;
	background:rgba(0,0,0,.8);width: 120px; border-radius: 0.1rem; z-index: 100;
}
.zhu_daoh em{
	display: block;
	width: 0;
    height: 0;
    position: absolute;
    top: -0.19rem;
    right: 0.2rem;
    border-right: 0.2rem solid transparent;
    border-bottom: 0.2rem solid rgba(0,0,0,.8);
    border-left: 0.2rem solid transparent;
}
.zhu_daoh li{padding:0 0.2rem; border-bottom:solid 1px #4f4f4f;} 
.zhu_daoh li.wu{border-bottom:none;}
.zhu_daoh li a{color: #fff;font-size: 0.26rem;line-height: .8rem;display: block;}


/*banner*/

.swiper_container_1 { width: 100%;  height: 100%;overflow: hidden; position: relative;}
.swiper_container_1 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper_container_1 .swiper-slide img{ width: 100%;}
.swiper_container_1 .swiper_pagination_1{ position: absolute; bottom: 0.05rem; z-index: 100; text-align: center; width: 100%;}
.swiper_container_1 .swiper_pagination_1 span{margin: 0 5px;}
.swiper_container_1 .swiper-pagination-bullet-active{background: #e10601;}



/*<!--内容-->*/

.neir_beij{ width: 100%;}
.neir_beij ul{ overflow: hidden; margin: 0.2rem 0;}
.neir_beij ul li{width: 25%;float: left; text-align: center; margin-bottom: .2rem;}
.neir_beij ul li .daohangk{position: relative; margin:0 auto 0.1rem; text-align: center;}
.neir_beij ul li .daohangk img{width: .75rem;height: 0.75rem;}
.neir_beij ul li p{font-size: 0.22rem;color: #5f5f5f;}

.yic_beij{ width: 100%;border-top: solid 0.1rem #dedede;}
.yic_beij .yic_sahng_b{ overflow: hidden; border-bottom: solid 1px #dedede;}
.yic_beij .yic_sahng_b .zuo{width: 49.9%; float: left;height: 300px;border-right: solid 1px #dedede;position: relative;}

.xin_jiajv{ width:100%; height:300px; background-color:#fff;}
.xin_jiajv-wz{ width:90%; height:auto; padding:5%;}
.xin_jiajv-wz p{ font-size:12px; color:#999; padding-top:10px;}
.xin_jiajv-wz span{ display:inline-block;}
.xin_jiajv-wz img{ max-width:100%; height:auto; display:block;}
.xin_jiajv-tp{ width:90%; height:auto; padding:5%;}
.xin_jiajv-tp img{ width:100%; height:auto;}

.yic_beij .yic_sahng_b .you{width: 49.5%;height: 150px; float: right;}
.yic_beij .yic_sahng_b .you .you_shang{height: 150px;border-bottom: solid 1px #dedede; position: relative;}
.xin_you_s{ width:100%; height:auto;}
.xin_you_s-wz{ width:48%; height:auto; float:left; padding-left:2%; padding-top:10%;}
.xin_you_s-wz p{ font-size:12px; color:#999; padding-top:10px; line-height:24px;}
.xin_you_s-wz span{ display:inline-block;}
.xin_you_s-wz img{ max-width:100%; height:auto; display:block;}
.xin_you_s-tp{ width:48%; height:auto; float:right; padding-top:10%;}
.xin_you_s-tp img{ width:100%; height:auto;}

.louc_m{width: 100%; height:auto; overflow:auto; border-top: solid 0.1rem #dedede; }
.louc_m .mingc{width: 92%; height: 0.8rem;border-bottom: solid 2px #dedede; padding:0 4%;}
.louc_m .mingc p{font-size:0.26rem; height: 0.8rem; line-height: 0.8rem;color: #43ceb5; float:left;}
.louc_m .mingc p img{ vertical-align:middle; padding-right:6px; float:left; position:relative; top:15px;}
.louc_m .mingc a{float: right; color:#444;font-size:0.22rem; margin-top:.3rem;}

.lianc_shang{ width: 100%; height:auto; overflow:auto; border-bottom: solid 1px #dedede;}
.lianc_shang .zuo{ width: 33%; border-bottom: solid 1px #dedede; border-right: solid 1px #dedede;height: 2.6rem; overflow:auto; padding:10px 0; position: relative; float: left; overflow: hidden;}
.lianc_shang .zuo_wu{border-right: none;}
.xin_shouji_zuo{ width:90%; margin:0 auto;}
.xin_shouji_zuo img{ max-width:90%; text-align:center;}
.xin_shouji_zuo h3{ width:100%; line-height:24px; font-size:0.22rem;}
.xin_shouji_zuo h3 a{ color:#333;}
.xin_shouji_zuo p{ font-size:0.3rem; color:#fd7622;}
.xin_shouji_zuo p span{ float:right;}
.xin_shouji_zuo p span img{ width:70%;}

/*底部*/

.dib_bj{
	width: 100%;
	padding-bottom: 1rem;
	border-top: solid 0.1rem #dedede;
}

.dib_bj .diyi{ height: 0.67rem;border-bottom: solid 1px #e5e5e5; text-align: center;}
.dib_bj .diyi ul{display: inline-block;overflow: hidden; }
.dib_bj .diyi ul li{float:left;padding: 0 0.25rem }
.dib_bj .diyi ul li a{line-height: 0.67rem; font-size: 0.22rem;color: #868686; }
.dib_bj .diyi ul p{float: left;line-height: 0.67rem;color: #868686;}
.dib_bj .liange_bb{border-bottom: solid 1px #e5e5e5;height: 1.47rem; padding: 0 1rem;}
.dib_bj .liange_bb .bb{width: 50%;float: left; height: 1.47rem;text-align: center;}
.dib_bj .liange_bb .bb_img{width: 0.64rem;height: 0.64rem;display: inline-block; padding-top: 0.28rem;}
.dib_bj .liange_bb .bb_img img{width: 100%;}
.dib_bj .liange_bb p{line-height: 0.35rem;color:#666; font-size: 0.22rem;}
.dib_bj .liange_bb p.diann_color{color: #999;}

.gs_beian{width: 100%;margin: 0.2rem 0;text-align: center;} 
.gs_beian p{line-height: 0.35rem; color: #999; font-size: .22rem;}




/*底部导航*/

.dib_daoh_b{height: 0.89rem;width: 100%;border-top: solid 1px #cfcfcf; background: #fbfbfb;position: fixed;bottom: 0;z-index: 100; /*top:0;*/ 
left: 0;}
.dib_daoh_b ul{overflow: hidden;}
.dib_daoh_b ul li{width: 25%;float: left;height: 0.89rem; text-align: center;}
.dib_daoh_b ul li .fup{width: 0.35rem; height: 0.35rem; display: inline-block; padding-top: 0.12rem;}
.dib_daoh_b ul li .fup img{width: 100%;}
.dib_daoh_b ul li p{color: #797979;line-height: 0.3rem; font-size: 0.22rem;}
.dib_daoh_b ul li p.dh_dq{color: #e10601;}



/*搜索*/
.logo_k_fanh{width: 15%;}
.logo_k_fanh a{
	display: block;
	width: 100%;
	height: 100%;
}
.logo_k_fanh .fanh_ann{
	width: 0.20rem;
    height: 0.38rem;
    margin: 0.15rem 0 0 0.3rem;}
.zhongj_k_tanc{border-bottom: solid 1px #e2e2e2;}
.shous_k_ganc{width: 75%;}
.shous_k .sous_ann_k{    width: 0.5rem;display: block; float: right;height: 0.48rem;}
.shous_k span.sous_ann{float:right;}

.remen_sos{margin:.2rem;}
.remen_sos p{line-height: 0.35rem;}
.remen_sos ul{overflow: hidden;margin: 0.2rem 0; }
.remen_sos ul li{
	float: left;
	margin: 0.15rem 0.15rem 0 0;
	
	border: solid 1px #828282;
	border-radius: 0.05rem;
}

.remen_sos ul li a{color: #828282;line-height: 0.25rem;display: inline-block;font-size: 0.22rem;padding: 0.1rem 0.15rem;}


#shous_yem{display: none; height: 100%; background: #fff;}

.liebiao{ width:100%; height:auto;overflow:hidden;}
.left-menu{width:25%;float:left;background-color:#eee; height: auto;}
.left-menu ul li{line-height:60px;width:100%;text-align:center;font-size:14px;padding:3px 0;color:#333;border-bottom:1px solid #ddd;}
.left-menu ul li.active{color:#fd7622 !important;background-color:#fff; border-left:2px solid #fd7622;}  
.right-con{display:none;width:70%;float:right;background:#fff; height: auto;}
.con .con-active{display:block;}
.right-con li{position:relative;height:75px;border-bottom:1px solid #e7eaeb;border-top:1px solid #fff;padding-bottom:8px;margin-bottom:2px;}  
.right-con li .menu-img{position:absolute;margin-left:10px;top:15px;border-radius:3px;cursor:pointer;}  
.right-con li .menu-img img{height:55px;width:55px;vertical-align:middle;border:0;}  
.right-con li .menu-txt{margin:15px 15px 15px 75px;}
.right-con li .menu-txt h3{font-size:14px;margin-bottom:10px;margin-top:8px;} 
.right-con li .menu-txt p{font-style:normal;line-height:20px;font-size:12px;vertical-align:bottom; color:#999;}  
.right-con li .menu-txt p.list2 b{font-size:14px;color:#f00;}  
.right-con li .btn{background-color:transparent;position:absolute;right:0px;top:45%;cursor:pointer;padding:3px;height:38px;}  
.right-con li .btn button.minus{margin-right:-10px;display:none;}  
.right-con li .btn button{width:40px;height:40px;border:0;background:transparent;padding:0;}  
.right-con li .btn button strong{padding:5px 10px;font-size:15px;display:inline-block;text-indent:-100px;padding:5px 11px;height:12px;}  
.right-con li .btn button.minus strong{background:url(../images/down.png) no-repeat;background-size:22px 22px;}  
.right-con li .btn i{display:none;width:22px;text-align:center;font-style:normal;vertical-align:top;margin-top:11px;line-height:18px;}
.right-con li .btn button.add{margin-left:-10px;}  
.right-con li .btn button.add strong{background:url(../images/up.png) no-repeat;background-size:22px 22px;}  
.right-con li .btn .price{display:none;} 
.footer{display:block;position:fixed;width:100%;z-index:3;bottom:0px;color:#f03c03;background:#fff;line-height:35px;font-size:15px;border-top:1px solid #e2e2e2;}  
.footer .left{float:left;margin:15px 10px;}  
.footer .right{float:right;}  
.footer .right .disable{background:#dbdbdb;}  
.footer .xhlbtn{display:block;text-align:center;line-height:45px;background-color:#F03C03;padding:0 15px;color:#fff;font-weight:bold;}

 .swiper_container_suz1 {
        width: 100%;
        height: 4.79rem;
        overflow: hidden;
        position: relative;
}
.swiper_container_suz1 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    line-height: 300px;
}
.swiper_container_1 { 
    width: 100%;
    height: 100%;overflow: hidden;
    position: relative;
}
.swiper_container_suz1 .swiper-slide img{
	width: 100%;
}
.swiper_container_suz1 .swiper-pagination-fraction{
    bottom: 10px;
    right:0.3rem;
    width: 1.05rem;
    height: 0.44rem;
    left: inherit;
    border-radius: 0.22rem;
    background: rgba(0,0,0,0.3);
    line-height: 0.44rem;
    color: #fff;
}

.xiangq_shangp_m {padding: 0.2rem;border-top: solid 2px #dedede;}
.xiangq_shangp_m .px24{color: #6a6a6a;line-height: 0.35rem;overflow: hidden;}
.xiangq_shangp_m .xq_jiaq{overflow: hidden; margin-top:10px;}
.xiangq_shangp_m .xq_jiaq p{float: left;color: #fd7622; font-size: 0.24rem;}
.xiangq_shangp_m .xq_jiaq p em{font-size: 0.3rem;}
.xiangq_shangp_m .xq_jiaq span{ display: inline-block; margin-left: 0.2rem;color: #6a6a6a;line-height: 0.3rem; }
.xiangq_shangp_m .xq_jiaq span i{text-decoration:line-through;}
.xiangq_shangp_mm {padding: 0.2rem;border-bottom: solid 1px #dedede;color: #999; line-height:0.4rem;}
.xiangq_shangp_mmm {padding: 0.2rem;border-bottom: solid 1px #dedede;color: #999; line-height:0.4rem;}

.cans_xuanz{ height: 0.86rem; border:solid 2px #e2e2e2; border-left: none;border-right: none; padding: 0 .2rem;}
.cans_xuanz p{color: #949494;font-size: 0.22rem;line-height: 0.86rem;}
.cans_xuanz p em{color: #6a6a6a;}
.cans_xuanz p i{height: 0.86rem; width: 0.4rem;  display: block;float: right; background: url(../images/xiaoxiao.png) center no-repeat;background-size: 50%;}
.pj_k{padding: 0.2rem;}
.pj_k .bt{margin: 0.1rem 0;overflow: hidden;}
.pj_k .bt p{float: left;font-size: 0.22rem; border-left:3px solid #333; padding-left:10px;}
.pj_k .bt span{float: right;font-size: 0.22rem}
.pj_k .bt p em{color: #016ff8;font-size: 0.22rem}
.pj_k .bt span em{color: #e10601;font-size: 0.22rem}
.pj_k .toux_k{margin: 0.3rem 0; overflow: hidden;}
.pj_k .toux_k h1{width: 0.7rem;height: 0.7rem; overflow: hidden; border-radius: 50%; border:solid 1px #f5f5f5; float: left;}
.pj_k .toux_k h1 img{width: 100%;}
.pj_k .toux_k span{line-height:  0.7rem;margin-left:0.2rem;height: 0.7rem; float: left;}
.pj_k .toux_k .sd{overflow: hidden; float: left;margin: 0.3rem 0 0 0.3rem;}
.pj_k .toux_k .sd p{width: 0.2rem; height: 0.2rem;background:url(../images/wujx.png) no-repeat;background-size: 100%;float: left; margin-left: 0.03rem;}
.pj_k .px22{color: #6a6a6a;line-height: 0.35rem;}
.lianjie{width: 100%;height: 0.7rem;margin: 0.2rem 0;background: #e2e2e2;text-align:center;}
.lianjie a{line-height: 0.7rem;color: #6a6a6a;display: block;}

.cainixhk{ padding: 0.2rem; border-bottom: solid 1.1rem #e2e2e2;}
.cainixhk .bt p{float: left;font-size: 0.22rem; border-left:3px solid #333; padding-left:10px;}
.cainixhk-tp{ width: 100%; height:auto; overflow:auto; padding-top:10px;}
.cainixhk-tp .zuo{ width: 33.33%; border-bottom: solid 1px #dedede; height: 2.6rem; overflow:auto; padding:10px 0; position: relative; float: left; overflow: hidden;}
.cainixhk-tp .zuo_wu{border-right: none;}
.xin_shouji_zuo{ width:90%; margin:0 auto;}
.xin_shouji_zuo img{ max-width:90%; text-align:center;}
.xin_shouji_zuo h3{ width:100%; line-height:24px; font-size:0.22rem;}
.xin_shouji_zuo h3 a{ color:#333;}
.xin_shouji_zuo p{ font-size:0.3rem; color:#fd7622;}
.xin_shouji_zuo p span{ float:right;}
.xin_shouji_zuo p span img{ width:70%;}

.gouwuc_{width: 100%;overflow: hidden;}
.gouwuc_ .zuo{width: 50%;float:left;overflow: hidden; }
.gouwuc_ .zuo .mis{float: left;width: 32%; margin-left: 1%;height: 0.89rem; text-align: center;}
.gouwuc_ .zuo .mis h1{width: 0.6rem; height: 0.6rem;overflow: hidden; display:inline-block; padding-top: 0.1rem;}
.gouwuc_ .zuo .mis h1 img{width: 100%;}
.gouwuc_ .zuo .mis p{color: #5d5f6a;font-size: 0.22rem;}
.gouwuc_ .you{width: 50%;float: left;}
.gouwuc_ .you .goum{position: relative;height: 0.89rem;}
.gouwuc_ .you .goum a{height:0.89rem;line-height:0.89rem }

.goum_sl{padding: 0.2rem; overflow: hidden;border-bottom: solid 2px #e2e2e2;}
.goum_sl p{float: left;line-height: 0.45rem;}
.goum_sl p em{color: #949494; margin-left: 0.1rem;}
.goum_sl .counter_box{overflow: hidden;text-align: center;  float: left; margin-left: 0.3rem;}
.goum_sl .counter_box i{display:inline-block;width: 0.45rem;height: 0.45rem;line-height: 0.45rem; float: left;border: solid 1px #e2e2e2; }
.goum_sl .counter_box i.you{float: right;}
.goum_sl .counter_box input{width: 1rem; height: 0.45rem; border: solid 1px #e2e2e2; border-left: none;border-right: none;float: left;
	text-align: center;
}

.goum{position: absolute; left: 0;bottom: 0;height: 0.8rem;text-align: center; width: 100%;}
.goum a{float: left;display: inline-block; width: 50%; background:#e10601; width: 50%;height: 0.8rem;line-height: 0.8rem; font-size: 0.24rem;
	color: #fff;
 }
.goum a.houm{background:#e17a01;}

/*详情页*/

.jiu_feo{
	float: left; width: 90%;
}
.zhongjain_daoh{
	width: 85%;
	height: 0.68rem;
	text-align: center;
	float: left;
}
.zhongjain_daoh ul{
display: inline-block;
}

.zhongjain_daoh ul li{
	float: left;
	margin: 0 0.2rem;
}
.zhongjain_daoh ul li a{
	line-height:  0.78rem;
	font-size: 0.22rem;
	color: #828282;
	display: inline-block;
}
.zhongjain_daoh ul li a.zyyge{
	color: #535353;
	font-size: 0.26rem;
}
.zhongjain_daoh ul li.xiangq a{
	border-bottom: solid 2px #fd7723;
	color:#fd7723;
}

.zhongj_k_z{
	padding: 0.1rem  0.1rem 0 0.1rem;
	height: 0.78rem;
}
 .swiper_container_suz1 {
        width: 100%;
        height: 4.79rem;
        overflow: hidden;
        position: relative;
}
.swiper_container_suz1 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    line-height: 300px;
}
.swiper_container_1 { 
    width: 100%;
    height: 100%;overflow: hidden;
    position: relative;
}
.swiper_container_suz1 .swiper-slide img{
	width: 100%;
}
.swiper_container_suz1 .swiper-pagination-fraction{
    bottom: 10px;
    right:0.3rem;
    width: 1.05rem;
    height: 0.44rem;
    left: inherit;
    border-radius: 0.22rem;
    background: rgba(0,0,0,0.3);
    line-height: 0.44rem;
    color: #fff;
}

.zhongjain_daoh{ width: 85%; height: 0.68rem; text-align: center; float: left;}

.gerenzhonhx{width: 100%;height:3rem;position: relative;}
.grzx_toub_beij{width: 100%;height: 3rem;}
.grzx_toub_beij img{width:100%;height: 3rem;}
.grzx_toux_fus{position: absolute; top:0;left: 0;z-index: 1; width: 100%;height: 3rem; text-align:center; background-color:#fd7622;}
.grzx_toux_fus .of{display: inline-block; padding-top: 0.6rem;text-align: center;}
.grzx_toux_fus .of h2{width: 1.24rem; height: 1.24rem; border-radius:50%; overflow: hidden; display: inline-block;}
.grzx_toux_fus .of p{color: #fff;font-size: 0.26rem;line-height: 0.4rem;}
.grzx_toux_fus h2 img{width: 100%; height: 100%;}
.grzx_toux_fus .shez_ann{  position:relative;}
.grzx_toux_fus .shez_ann a{padding: 0.2rem; width: 0.37rem; height: 0.37rem;display: inline-block;position: absolute;z-index: 2;  right: 0.3rem;
	top: -0.2rem; }
.grzx_toux_fus .shez_ann a img{width: 100%;}

.grzx_kuaij_k{ width:100%; height:auto; overflow:hidden; padding:20px 0;border-bottom: solid 5px #ebebeb;}
.grzx_kuaij_k ul{overflow: hidden;}
.grzx_kuaij_k ul li{width: 20%;float: left; height: 1.2rem; text-align: center;}
.grzx_kuaij_k ul li a{height: 1.2rem;display: inline-block;width: 100%; color:#535353; }
.grzx_kuaij_k ul li h1{width: 0.45rem; height: 0.45rem; display: inline-block; margin-top: 0.13rem;overflow: hidden;}
.grzx_kuaij_k ul li h1 img{width: 100%;height: 0.45rem;}
.grzx_kuaij_k ul li p{line-height: 0.5rem; font-size: 0.24rem;}

.grzx_kuaij_kk{ width:100%; height:auto; overflow:hidden; padding:0 0 20px 0;}
.grzx_kuaij_kk h3{ font-size: 0.28rem; width:90%;height: 50px; line-height:50px; border-bottom:1px solid #ebebeb; margin:0 auto 20px auto;}
.grzx_kuaij_kk ul li{ width:25%; height:auto; overflow:hidden; text-align:center; float:left;}
.grzx_kuaij_kk ul li span{line-height: 0.5rem; font-size: 0.24rem; display:block; color:#333;}
.grzx_kuaij_kk ul li p{ font-size: 0.25rem; color:#666;}

.gerzx_dibk{
	margin: 0.1rem 0 0 0;
	background: #d7d7d7;
	text-align: center;
}
.gerzx_dibk .l_an_n{display: inline-block; padding: 0.3rem; }
.gerzx_dibk .l_an_n a{padding: 0.15rem 0.5rem;background: #fff; border-radius: 0.05rem;display: inline-block; color: #444; margin: 0 0.1rem;}
.gerzx_dibk h1{padding:0.1rem 0 0.5rem;}
.gerzx_dibk p{width: 2.1rem; height: 0.78rem;display: inline-block;}
.gerzx_dibk p img{width: 100%; }









